.cartFullPage {
  padding-top: 5rem;
}

.cartPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: static;
  align-items: space-around;
  min-height: 100vh;
  height: 100%;
}
.cartHeading {
  position: fixed;
  right: 0;
  left: 0;
  font-size: 2rem;
}
.cartItemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  padding-bottom: 2rem;
}

.cartItem {
  box-shadow: 0px 0px 10px 1px #9aa3a0;
  width: 17rem;
  height: 23rem;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: static;
  margin-bottom: 2rem;
}

.cartItem img {
  display: flex;
  align-self: center;
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
}

.cartItem p {
  text-align: left;
  padding-left: 10px;
  padding-top: -15px;
}

.cartBrandName {
  font-weight: 700;
  margin-bottom: 2px;
}

.cartProductName {
  margin-bottom: 2px;
  font-size: 15px;
}

.cartProductPrice {
  font-weight: 600;
}

.cartButtonRemove {
  margin: 0.5rem 2rem;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-weight: 600;
}
.cartButtonDecrement {
  position: absolute;
  margin-left: 15rem;
  margin-top: 17.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0px 5px;
}
.cartButtonIncrement {
  position: absolute;
  margin-top: 17.5rem;
  margin-left: 12.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0px 4px;
}

.quantity-heading {
  position: absolute;
  margin-top: 17.5rem;
  margin-left: 9rem;
  font-size: 13px;
}
.quantity {
  position: absolute;
  margin-top: 17.5rem;
  margin-left: 14rem;
  font-size: 13px;
}

.cartButtonRemove:hover {
  background-color: black;
  color: var(--secondary-color);
  cursor: pointer;
}

.cartRating {
  position: absolute;
  font-size: 1.05rem;
  margin-left: 13rem;
  margin-top: 12.5rem;
  background-color: rgb(41, 117, 205);
  border-radius: 20px;
  padding: 1px 5px;
}

.cartAddToFav {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 15rem;
  cursor: pointer;
}

.priceDetails {
  padding: 0px 15px;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  right: 5rem;
  top: 12rem;
  background-color: var(--light-gray);
  height: 24rem;
  width: 30rem;
  border-radius: 5px;
}

.priceDetails p {
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.priceDetails button {
  margin-top: 10px;
  padding: 15px 0px;
}

.checkoutLink {
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-weight: 600;
  color: black;
  text-decoration: none;
  border: 2px solid;
}

.checkoutLink:hover {
  color: var(--secondary-color);
  background-color: black;
  border: none;
}

.emptyCart {
  margin-top: -7rem;
  font-size: 4rem;
}

@media (max-width: 876px) {
  .priceDetails {
    padding: 0px 15px;
    padding-bottom: 1rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: left;
    right: 5rem;
    top: 12rem;
    background-color: var(--light-gray);
    width: fit-content;
    border-radius: 5px;
  }

  .priceDetails span {
    margin-left: 5rem;
  }

  .cartPage {
    justify-content: start;
    margin-left: 4rem;
  }
}

@media (max-width: 585px) {
  .cartHeading {
    position: relative;
    margin-bottom: -4rem;
  }

  .cartFullPage {
    padding-top: 7rem;
  }

  .cartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0rem; /*needed */
    padding-top: 0rem;
  }

  .priceDetails {
    padding: 0px 15px;
    position: relative; /*property changed */
    display: flex;
    flex-direction: column;
    text-align: left;
    right: 0rem;
    top: 0rem;
    background-color: var(--light-gray);
    height: auto;
    width: fit-content;
    border-radius: 5px;
    padding-bottom: 1rem; /*property added */
    margin-bottom: 2rem; /*property added */
  }
  .priceDetails span {
    margin-left: 5rem;
  }
  .emptyCart {
    margin-top: 2rem; /*property changed */
    margin-right: 0rem; /*property changed */
    font-size: 4rem;
  }
  .cartItemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem; /*property changed */
    padding-bottom: 2rem;
  }
}
