.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.address .heading {
  background-color: var(--light-gray);
  margin-top: 0rem;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
  padding: 10px 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.address {
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  background-color: var(--white-color);
  padding: 0px 20px;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}

fieldset {
  text-align: left;
  border-radius: 10px;
  margin: 0.5rem;
}

input {
  font-size: larger;
  border: none;
}

.address-btns {
  margin-top: 1.5rem;
}

.address-btns button {
  padding: 10px 20px;
}
