.modal{
    position: fixed;
    inset:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items:center;
    justify-content:center;
}

.address{
    width:500px;
    height:500px;
    background-color: #fff;
}
