footer {
  display: flex;
  align-self: flex-end;
  padding-top: 10px;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(87, 83, 83);
  color: #000000;
}

footer p {
  font-size: 15px;
}

.connect:hover {
  cursor: pointer;
  text-decoration: underline;
}
