.checkoutPage {
  padding: 10rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.addresses {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  width: 70%;
}

.change-btn {
  margin-top: 15px;
}

.change-btn button {
  padding: 7px 10px;
}

.addressList {
  margin-top: 2rem;
  width: 70%;
}

.orderDetails {
  border: 1px solid;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.orderDetails h2 {
  text-align: center;
}

.addressesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.itemName {
  list-style: none;
}

.deliveryAddress {
  text-align: center;
}

.orderName {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.subHeading {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  font-weight: 600;
  font-size: larger;
}

.priceDetail {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.orderDetails button {
  margin-top: 1rem;
  padding: 10px 40px;
  font-size: large;
}

@media (max-width: 600px) {
  .checkoutPage {
    padding: 10rem 4rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}
