.parectBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 2rem;
  min-height: 105vh;
  height: 100%;
}

.allOtherBlock {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.individualProduct h3 {
  text-align: left;
  padding-left: 10px;
}

.individualProduct {
  margin: 5rem 20% 5rem 20%;
  box-shadow: 0px 0px 10px 1px #9aa3a0;
  width: fit-content;
  height: max-content;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  position: static;
}

.individualProduct img {
  display: flex;
  align-self: center;
  width: 20rem;
  height: 20rem;
  border-radius: 5px;
}

.individualProduct p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: -15px;
}

.individualProduct .brandName {
  margin-left: 2rem;
  margin-bottom: 2px;
  font-size: 15px;
  font-size: larger;
}

.individualProduct .productName {
  margin-left: 2rem;
  font-weight: 700;
  margin-bottom: 2px;
  font-size: large;
}
.individualProduct .productPrice {
  font-weight: 600;
  margin-left: 2rem;
  font-size: larger;
}

.individualProduct .ratingLeft {
  position: absolute;
  font-size: 20px;
  margin-left: -1rem;
  margin-top: -2.7rem;
  border-radius: 20px;
  padding: 2px 7px;
  background-color: rgb(46, 131, 228);
}

.allOtherBlock .ratingRight {
  position: absolute;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: -1.5rem;
  border-radius: 20px;
  padding: 2px 5px;
  background-color: rgb(46, 131, 228);
}

.addToFavHeart {
  padding-left: 5px;
  margin-top: -5px;
  font-size: xx-large;
}

.wishlist-btn {
  display: flex;
  align-self: flex-end;
  margin-top: -2rem;
  margin-left: 3rem;
  padding: 10px 10px 0px 10px;
  margin-right: 1.5rem;
  font-size: 20px;
  font-weight: 500;
  border-radius: 7px;
  box-shadow: 0px 0px 2px 1px rgb(0, 0, 0, 0.6);
  cursor: pointer;
}

.cartLink {
  color: black;
  text-decoration: none;
  margin: 0rem 2rem 0rem 2rem;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-weight: 600;
  border: 2px solid;
  font-size: 15px;
}

.cartLink:hover {
  color: var(--secondary-color);
  background-color: black;
  border: none;
}

@media (max-width: 569px) {
  .individualProduct {
    margin-top: 8rem;
  }
}

@media (min-width: 880px) {
  .individualProduct .ratingLeft {
    display: none;
  }
}

@media (max-width: 880px) {
  .individualProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .allOtherBlock .ratingRight {
    display: none;
  }

  .allOtherBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wishlist-btn {
    align-self: center;
    justify-content: center;
    width: 90%;
    margin-left: 1rem;
  }
}
