.navBar {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  height: 35px;
  background-color: var(--primary-color);
  box-shadow: 0px 5px 10px 5px rgb(0, 0, 0);
}

.searchBar {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: hidden;
  width: 25rem;
  height: 2rem;
  margin-bottom: 10px;
  padding-left: 20px;
}

.hideSearchbar {
  visibility: hidden;
}

.nav-logo {
  display: flex;
  align-items: center;
  /* margin-right: 8%; */
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  font-size: 2rem;
  left: -30px;
  top: -5px;
  font-family: "Libre Baskerville", serif;
}

.nav-logo:hover {
  color: var(--secondary-color);
}

.pageOption {
  display: flex;
  color: var(--white-color);
  font-size: 25px;
  text-decoration: none;
}

.pageOption:hover {
  color: var(--secondary-color);
}

.navBar span {
  font-size: 23px;
  padding-left: 10px;
  padding-top: 2px;
}

.icon {
  position: relative;
  top: 0px;
  font-size: 30px;
}

@media (max-width: 1009px) {
  .navBar span {
    display: none;
  }

  .searchBar {
    width: 15rem;
    margin-left: 0%;
  }
}

@media (max-width: 645px) {
  .nav-logo {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .searchBar {
    width: 15rem;
    margin-left: -5%;
  }
}

@media (max-width: 569px) {
  .navBar {
    height: 75px;
    margin-top: -10px;
    padding: 20px;
  }

  .nav-logo {
    top: -20px;
  }

  .searchBar {
    position: absolute;
    width: 80%;
    top: 57%;
    border-radius: 10px;
    padding: 3px 6px;
  }
}
