.filters {
  margin-top: 9.3rem;
  padding: 2rem 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--light-gray);
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
}

.filtersHeading {
  font-size: x-large;
  margin-top: -1rem;
}

.filters-price {
  margin-top: -1rem;
}
.filters-price input {
  size: 2rem;
}

.filters-category {
  display: flex;
  flex-direction: column;
}
.filters-rating {
  display: flex;
  flex-direction: column;
}

.filters-sort {
  display: flex;
  flex-direction: column;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

option {
  padding: 0px;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

.clear-btn {
  font-size: 20px;
  align-self: flex-end;
  margin-top: -3rem;
  margin-bottom: 4rem;
  margin-right: -20px;
  cursor: pointer;
}

.clear-btn:hover {
  text-decoration: underline;
}

@media (max-width: 789px) {
  .filters {
    opacity: 0.9;
    position: absolute;
    margin-top: 7.3rem;
    padding: 2rem 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--light-gray);
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    z-index: 1;
  }

  .clear-btn {
    font-size: 20px;
    align-self: flex-end;
    margin-top: -3.1rem;
    margin-bottom: 4rem;
    margin-right: 20px;
    cursor: pointer;
  }

  #price {
    width: 80%;
  }

  #values {
    display: flex;
    justify-content: space-around;
    margin-left: -2rem;
  }
}
