.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body {
  font-family: "Amazon Ember", Arial, sans-serif;
  zoom: 75%;
}

:root {
  --primary-color: #075634;
  --secondary-color: rgb(216, 176, 31);
  --white-color: azure;
  --dark-gray: rgb(87, 83, 83);
  --light-gray: rgb(178, 174, 174);
}
