.ProductListPage{
    display: flex;
    flex-direction: row;
    /* color:aqua; */
    padding-top: 5rem;
}

.allProducts{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    flex-wrap: wrap;
}