.ProductListPage {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.allProducts {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  margin-left: 5rem;
  column-gap: 36px;
  row-gap: 36px;
  flex-wrap: wrap;
  position: relative;
}

.filters {
  margin-top: 2.5rem;
}

.ProductListPage h1 {
  font-size: 3rem;
}

.oneByOne {
  list-style: none;
}

.loadingImage {
  position: relative;
  top: 20%;
  left: 100%;
}
