
.item{
    box-shadow: 0px 0px 10px 1px #9aa3a0;
    width: 17rem;
    height: 22rem;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    position:static;
}

.item img{
    display: flex;
    align-self:center;
    width: 12rem;
    height: 12rem;
    border-radius: 5px;
   
}

.img{
    display: flex;
    align-self:center;
}

.item p{
    text-align: left;
    padding-left: 10px;
    padding-top: -15px;
}

.brandName{
    font-weight: 700;
    margin-bottom: 2px;
}

.productName{
    
   margin-bottom: 2px;
    font-size: 15px;
}
.productPrice{
    font-weight: 600;
}
.item button{
    margin: 0rem 2rem;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    background-color:  rgb(216, 176, 31);
    font-weight: 600;
}

.item button:hover{
    background-color: black;
    color:  rgb(216, 176, 31);
    cursor: pointer;
}
 .item .cartLink{
    color: black;
    text-decoration: none;
    margin: 0rem 2rem;
    padding: 0.4rem 0rem;
    border-radius: 5px;
    background-color:  rgb(216, 176, 31);
    font-weight: 600;
    border: 2px solid;
    font-size: 15px;
}

.cartLink:hover{
    color: rgb(216, 176, 31);
    background-color: black;
    border:none;
}

.rating{
    position: absolute;
    font-size: 1.05rem;
    margin-left: 13rem;
    margin-top: 12.5rem;
    background-color: rgb(46, 131, 228);
    border-radius: 20px;
    padding: 1px 5px;
}

.addToFav{
    position: absolute;
    font-size: 1.5rem;
    margin-left: 15rem;
    cursor: pointer;
}